.bl1 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.bl2 {
    width: 100px;
    height: 100px;
    background-color: rgb(123, 255, 0);
}

.fon {
    background-color: black;
}

.fonik {
    background-image: url('scrimer.jpg');
    background-size: 200%;
    background-position: center;
}

.fox {
    background-image: url('foxy-jumpscare.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.bukva {
    font-size: 1000%;
    color: black;
}

.err {
    font-size: 2000%;
    color: red;
}

.cnop {
    width: 400px;
    height: 100px;
    font-size: 70pt;

}

.invisible {
    visibility: hidden;
}

.scrimacpizd {
    background-color: aqua;
}

.tr {
    transition: 4s;
}

.bl3 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
}